<div id="login"
  layout="column"
  layout-align="center center"
  layout-fill>

  <div style="width:400px;background-color:#eee;"
    md-whiteframe="1dp">

    <div class="relative"
      layout="column"
      role="main">

      <md-toolbar>
        <div class="md-toolbar-tools">

          <div class="inset">
            <md-icon class="material-icons">security</md-icon>
          </div>

          <h3>
            Endeavour2
            <strong>Login</strong>
          </h3>

          <span flex="" class="flex"></span>

        </div>
      </md-toolbar>

      <md-content class="layout-padding"
        layout="column">
        <div>
          <form name="loginForm" ng-submit="$login.submit()">
            <div layout="column">
              <md-input-container>
                <label>Username</label>
                <input name="username"
                  type="text"
                  ng-model="$login.credentials.username">
              </md-input-container>

              <md-input-container>
                <label>Password</label>
                <input name="password"
                  type="password"
                  ng-model="$login.credentials.password">
              </md-input-container>
            </div>

            <div layout="row">
              <span flex></span>
              <md-button class="md-raised md-primary"
                type="submit">
                Login
              </md-button>
            </div>
          </form>
        </div>
      </md-content>

    </div>

  </div>

</div>
