<div class="md-padding"
  layout="row"
  flex>

  <div flex="20"
    style="margin: 8px;">
    <!-- <div layout="column">
      <span class="md-body-2">
        Lists
      </span>
      <ul class="md-body-1"
        style="padding: 0; margin: 0;">
        <li class=""
          style="padding: 8px 8px 8px 16px;"
          ng-repeat="item in $home.lists">
          <md-icon class="material-icons"
            style="margin-right: 8px">
            folder
          </md-icon>
          <span>{{ item.Title }}</span>
        </li>
      </ul>
    </div> -->
  </div>

  <div class=""
    style="margin: 8px;"
    flex>
    <!-- <md-content md-whiteframe="1dp"
      layout-fill> -->
      <div layout="column">

        <div>
          <div layout="row">
            <h2 class="md-display-3"
              style="padding-left: 16px;">
              My lists
            </h2>
          </div>
        </div>

        <md-list class="folder-grid"
          layout="row"
          layout-align="start start"
          layout-wrap
          flex>
          <md-list-item ng-repeat="item in $home.lists"
            flex="33">
            <div layout-fill>
              <md-button class="md-grid-item-content md-no-style"
                ui-sref="app.home.list({ id: item.ID })"
                layout="row"
                layout-fill
                md-whiteframe="1dp">
                <div class="grid-item-icon">
                  <md-icon class="material-icons">
                    folder
                  </md-icon>
                </div>
                <div class="grid-item-label"
                  flex>
                  <div class="md-grid-text"
                    layout="column"
                    layout-align="center start"
                    layout-fill>
                    <div class="grid-item-title">
                      <div class="md-body-1">
                        {{ item.Title }}
                      </div>
                    </div>
                    <div class="grid-item-info">
                      <div class="md-caption">
                        Created 12/3/17
                      </div>
                    </div>
                  </div>
                </div>
              </md-button>
            </div>
          </md-list-item>
        </md-list>

      </div>
    <!-- </md-content> -->
  </div>

</div>

<!--<div class="md-padding" flex layout-sm="column">
    <md-card class="text-center">
        <md-card-content>
            <h1>{{ $home.title }}</h1>
            <h3>{{ $home.version }}</h3>
            <p>This is a template for a simple home screen website. Use it as a starting point to create something more unique.</p>
            <code>app/modules/home/home.html</code>
            <br>
            <p><a href="http://www.github.com/newaeonweb/generator-angm" class="btn btn-primary" role="button">Learn more »</a></p>
            <md-divider class="margin-top-20"></md-divider>
            <h1 class="margin-top-50">Features</h1>
        </md-card-content>
    </md-card>
</div>-->
