<div class="md-padding"
  layout="row"
  flex>

  <div flex="20"
    style="margin: 8px;">
  </div>

  <div class=""
    style="margin: 8px;"
    flex>
      <div layout="column">

        <div>
          <div layout="row">
            <h2 class="md-display-3"
              style="padding-left: 16px;">
              My stuff
            </h2>
          </div>
        </div>

        <md-list class="folder-grid"
          layout="row"
          layout-align="start start"
          layout-wrap
          flex>
          <md-list-item ng-repeat="item in $home.lists"
            flex="33">
            <div layout-fill>
              <md-button class="md-grid-item-content md-no-style"
                ui-sref="app.home.list({ id: item.ID })"
                layout="row"
                layout-fill
                md-whiteframe="1dp">
                <div class="grid-item-icon">
                  <md-icon class="material-icons">
                    folder
                  </md-icon>
                </div>
                <div class="grid-item-label"
                  flex>
                  <div class="md-grid-text"
                    layout="column"
                    layout-align="center start"
                    layout-fill>
                    <div class="grid-item-title">
                      <div class="md-body-2">
                        {{ item.Title }}
                      </div>
                    </div>
                    <div class="grid-item-info">
                      <div class="md-caption" style="color: rgba(0,0,0,0.38);">
                        Created {{ item.Created.date.substr(0,10) }}
                      </div>
                    </div>
                  </div>
                </div>
              </md-button>
            </div>
          </md-list-item>
          <md-list-item flex="33">
            <div layout-fill>
              <md-button class="md-grid-item-content md-no-style md-primary md-raised"
                ng-click="$home.createNewList()"
                layout="row"
                layout-fill
                md-whiteframe="1dp">
                <div class="grid-item-icon">
                  <md-icon class="material-icons">
                    create_new_folder
                  </md-icon>
                </div>
                <div class="grid-item-label"
                  flex>
                  <div class="md-grid-text"
                    layout="column"
                    layout-align="center start"
                    layout-fill>
                    <div class="grid-item-title">
                      <div class="md-body-1">
                        Create New Folder
                      </div>
                    </div>
                  </div>
                </div>
              </md-button>
            </div>
          </md-list-item>
        </md-list>

      </div>
    <!-- </md-content> -->
  </div>

</div>
