<div style="padding: 0 24px 16px;background: #455A64;color: rgba(255,255,255,0.7);height: 128px;min-height: 128px;"
  layout="row"
  layout-align="end end">
  <div style="padding-left: 32px;padding-bottom: 8px;"
    ng-click="$list.renameList(true)">
    <div class=""
      ng-if="!$list.renaming">
      <span class="md-display-1">{{ $list.model.Title }}</span>
    </div>
    <div class=""
      ng-if="$list.renaming">
      <form>
        <input name="newTitle"
          ng-model="$list.newTitle">
        <md-button type="submit"
          class="md-icon-button"
          ng-click="$list.saveNewTitle()">
          <md-icon class="material-icons">save</md-icon>
        </md-button>
      </form>
    </div>
  </div>
  <div flex></div>
  <div>
    <md-button class=""
      ng-click="$list.deleteList()">
      <md-icon class="material-icons"
        style="color: rgba(255,255,255,0.7);">
        delete
      </md-icon>
      Delete Folder
    </md-button>
    <md-button class="md-raised md-primary"
      ng-click="$list.createNewList()">
      <md-icon class="material-icons"
        style="color: rgba(255,255,255,0.7);">
        create
      </md-icon>
      New Sub-Folder
    </md-button>
  </div>
</div>
<div class="md-padding"
  style="padding: 16px 24px;"
  layout="row"
  flex>

  <div style="margin: 8px;width: 260px;">
    <div layout="column">
      <md-list>
        <!-- <md-subheader>Lists</md-subheader> -->
        <md-list-item ui-sref-active="active"
          ui-sref="app.home.list({ id: $list.getParentId() })"
          ng-if="$list.getParentId()">
          <div class="inset">
            <md-icon class="material-icons">
              folder
            </md-icon>
          </div>
          <p>..</p>
        </md-list-item>
        <md-list-item ui-sref-active="active"
          ui-sref="app.home.dashboard"
          ng-if="!$list.getParentId()">
          <div class="inset">
            <md-icon class="material-icons">
              apps
            </md-icon>
          </div>
          <p>Dashboard</p>
        </md-list-item>
        <md-list-item ui-sref-active="active"
          ui-sref="app.home.list({ id: item.ID })"
          ng-repeat="item in $list.lists">
          <div class="inset">
            <md-icon class="material-icons">
              folder
            </md-icon>
          </div>
          <p>{{ item.Title }}</p>
        </md-list-item>
      </md-list>
    </div>
  </div>

  <div class=""
    style="margin: 8px;"
    flex>
    <div class=""
      style="overflow: hidden;"
      md-whiteframe="1dp"
      layout-fill>
      <div layout="row"
        layout-fill>
        <!-- <div>
          <span class="md-body-2">
            Items
          </span>
        </div> -->
        <div class=""
          style="background: #fff;padding: 24px;border-radius: 4px 0 0 4px;z-index:1;"
          md-whiteframe="1dp"
          flex>
          <span class="md-display-1">{{ $list.model.Title }}</span>
          Meow
        </div>
        <md-content flex="40">
          <div class="layout-column"
            style="background-color: #eee;">
            <div style="border: 2px solid rgba(0,0,0,0.12);border-radius: 3px 0 0;padding: 8px 8px 8px 24px;border-width: 0 0 1px;background-color: #fff;">
              <div class=""
                layout="row">
                <form class="create-item-form"
                  layout-align="center center"
                  layout="row"
                  layout-fill>
                  <md-input-container class="md-block"
                    md-no-float
                    flex>
                    <md-icon class="material-icons">create</md-icon>
                    <input ng-model="$list.newItemSummary"
                      type="text"
                      placeholder="New Task Summary">
                  </md-input-container>
                  <!-- <md-input-container class="flex">
                    <label>Enter new task summary</label>
                    <input ng-model="$list.newItemSummary">
                  </md-input-container> -->
                  <md-button class="md-icon-button md-primary"
                    ng-click="$list.createNewListItem()"
                    type="submit">
                    <md-icon class="material-icons">add</md-icon>
                  </md-button>
                </form>
              </div>
            </div>
            <md-list>
              <md-list-item ui-sref-active="active"
                style="border-bottom: 1px solid rgba(0,0,0,0.12);"
                ui-sref="app.home.list({ id: item.ID })"
                ng-repeat="item in $list.lists">
                <div class="inset">
                  <md-icon class="material-icons">
                    folder
                  </md-icon>
                </div>
                <p>{{ item.Title }}</p>
                <span class="md-caption"
                  style="color: rgba(0,0,0,0.38);">
                  {{ item.Created.date.substr(0,10) }}
                </span>
              </md-list-item>
              <md-list-item
                style="border-bottom: 1px solid rgba(0,0,0,0.12);"
                ng-repeat="item in $list.items">
                <!-- <div class="inset">
                  <md-checkbox style="margin: 0px;" ng-model="item.Completed">
                </div> -->
                <div class="inset">
                  <md-icon class="material-icons">

                  </md-icon>
                </div>
                <p>{{ item.Summary }}</p>
                <span class="md-caption"
                  style="color: rgba(0,0,0,0.38);">
                  {{ item.Created.date.substr(0,10) }}
                </span>
                <!-- <md-button class="md-icon-button"
                  style="position: absolute;top:8px;right:0px;">
                  <md-icon class="material-icons manage-item">
                    more_vert
                  </md-icon>
                </md-button> -->
              </md-list-item>
            </md-list>
          </div>
        </md-content>
        <!-- <ul class="md-body-1"
          style="padding: 0; margin: 0;">
          <li class=""
            style="padding: 8px 8px 8px 16px;"
            ng-repeat="item in $list.items">
            <md-icon class="material-icons"
              style="margin-right: 8px">
              checkbox
            </md-icon>
            <span>{{ item.Summary }}</span>
          </li>
        </ul> -->
      </div>
    </div>
  </div>

</div>

<!--<div class="md-padding" flex layout-sm="column">
    <md-card class="text-center">
        <md-card-content>
            <h1>{{ $home.title }}</h1>
            <h3>{{ $home.version }}</h3>
            <p>This is a template for a simple home screen website. Use it as a starting point to create something more unique.</p>
            <code>app/modules/home/home.html</code>
            <br>
            <p><a href="http://www.github.com/newaeonweb/generator-angm" class="btn btn-primary" role="button">Learn more »</a></p>
            <md-divider class="margin-top-20"></md-divider>
            <h1 class="margin-top-50">Features</h1>
        </md-card-content>
    </md-card>
</div>-->
