<div id="login"
  layout="column"
  layout-align="center center"
  layout-fill>

  <div style="width:400px;background-color:#eee;"
    md-whiteframe="1dp">

    <div class="relative"
      layout="column"
      role="main">

      <md-toolbar>
        <div class="md-toolbar-tools">

          <div class="inset">
            <md-icon class="material-icons">security</md-icon>
          </div>

          <h3 style="color: rgba(255,255,255,0.7);">
            Endeavour2
            <strong style="color: rgba(255,255,255,1);">Sign-up</strong>
          </h3>

          <span flex="" class="flex"></span>

        </div>
      </md-toolbar>

      <md-content class="layout-padding"
        layout="column">
        <div>
          <form name="loginForm" ng-submit="$signup.submit()">
            <div layout="column">
              <md-input-container>
                <label>Email Address</label>
                <input name="emailAddress"
                  type="email"
                  ng-model="$signup.formData.EmailAddress"
                  required>
              </md-input-container>
              <md-input-container>
                <label>First Given Name</label>
                <input name="firstName"
                  type="text"
                  ng-model="$signup.formData.FirstName"
                  required>
              </md-input-container>
              <md-input-container>
                <label>Family Name</label>
                <input name="lastName"
                  type="text"
                  ng-model="$signup.formData.LastName"
                  required>
              </md-input-container>
            </div>

            <div layout="row">
              <span flex></span>
              <md-button class="md-raised md-primary"
                type="submit">
                Sign-up
              </md-button>
            </div>
          </form>
        </div>
      </md-content>

    </div>

  </div>

</div>
